<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203379764162-re3mbrnt7kj2hqhqdr3go916j70lrvm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203379764162-re3mbrnt7kj2hqhqdr3go916j70lrvm3</string>
	<key>API_KEY</key>
	<string>AIzaSyAufeo3XuzC1N5CuZX0bzBZdRp8Z7-8P_0</string>
	<key>GCM_SENDER_ID</key>
	<string>203379764162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-e7137</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-e7137.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203379764162:ios:0ed118a8467b29e45fc45b</string>
</dict>
</plist>